<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Privacy pages without extension" stopProcessing="true">
          <match url="^(privacy-mooo|privacy-policy-chrome-extension|privacy)$" />
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
